var util = require('util'),
    _ = require('lodash'),
    client = require('kraken-core').Client.instance();

var parseRequestParams = function (params) {
    return _.merge(
        params.{{schema}}.value,
        _.fromPairs(
            _.map(
                _.omit(params, '{{schema}}'),
                function (hash, key) {
                    return [key, hash.value];
                }
            )
        )
    );
};

module.exports = {
    list: function (req, res) {
        client.dispatch('task:{{controller}}:list', req.query, function (err, response) {
            res.json(response);
        });
    },

    create: function (req, res) {
        client.dispatch('task:{{controller}}:create', parseRequestParams(req.swagger.params), function (err, response) {
            res.json(response);
        });
    },

    read: function (req, res) {
        var params = _.fromPairs(_.map(req.swagger.params, function (hash, key) {
            return [key, hash.value];
        }));

        client.dispatch('task:{{controller}}:read', params, function (err, response) {
            res.json(response);
        });
    },

    update: function (req, res) {
        var params = _.merge(req.body, _.fromPairs(_.map(req.swagger.params, function (hash, key) {
            return [key, hash.value];
        })));

        client.dispatch('task:{{controller}}:update', parseRequestParams(req.swagger.params), function (err, response) {
            res.json(response);
        });
    },

    delete: function (req, res) {
        var params = _.fromPairs(_.map(req.swagger.params, function (hash, key) {
            return [key, hash.value];
        }));

        client.dispatch('task:{{controller}}:delete', params, function (err, response) {
            res.json(response);
        });
    },
};